.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.color-rediant{
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
}
.btn{
    padding: 12.5px 16px;
    color: white;
    border-radius: 110000px;
    border:none;
}
.text-color{
    color: #FFFFFF;
}
.background{
     background: rgba(26, 11, 46, 1);
}
.color-green{
    color:#00FF88;
}
.bg-none{
   background: none;
   border: 1px solid #00FF88;
}
.display-hidden{
   display:none;
}



 header .banner  {
    background-image: url("../assets/hero-bg.png");
    max-width: 100%;
    height: 760px;
 }
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    padding:16px 200px;
    background: rgba(26, 11, 46, 1);
  
}


nav ul{
    display:flex;
    gap: 30px;
    list-style: none;
}