.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.color-rediant{
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
}
.btn{
    padding: 12.5px 16px;
    color: white;
    border-radius: 110000px;
    border:none;
}
.text-color{
    color: #FFFFFF;
}
.background{
     background: rgba(26, 11, 46, 1);
}
.color-green{
    color:#00FF88;
}
.bg-none{
   background: none;
   border: 1px solid #00FF88;
}
.display-hidden{
   display:none;
}

header .banner  {
    background-image: url("../assets/hero-bg.png");
    max-width: 100%;
    height: 760px;
 }
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    padding:16px 200px;
    background: rgba(26, 11, 46, 1);
  
}
nav ul{
    display:flex;
    gap: 30px;
    list-style: none;
}

.banner-text {
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 4;
}

.banner-text h2 {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 16px;
}

.banner-text p {
    font-size: 16px;
    margin-bottom: 32px;
}

.banner-footer {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 16px;
    z-index: 4;
}

.banner-btn{
    background-color: #00FF88;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 1000px;
    border: none;
    position: absolute;
    top: 40%;
    left: 62%;
    transform: translate(-50%, -50%);
    z-index: 3;
    transition: transform 0.3s ease;
}

.banner-btn:hover {
    transform: translate(-50%, -50%) scale(1.2) rotate(45deg);
}